.TimelineItem {
  opacity: 0;
  background-color: #FFF;
  border: 3px solid #000;
  font-size: 1rem;
  transition: all 0.5s;
  display: flex;
  margin: 0 auto;
  padding: 30px 50px 30px 100px;
  width: 80%;

  &.js-show-item {
    opacity: 1;
  }
}

.TimelineItem__content {
  margin: 0 0 0 25px;
  text-align: left;
}

.TimelineItem__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.TimelineItem__location {
  color: lightgray;
}

.TimelineItem__dates {
  margin-bottom: 10px;
}

.TimelineItem__joiner {
  width: 7px;
  height: 100px;
  background-color: #000;
  margin: 0 auto;
  opacity: 0;
  transition: all 2s;

  &.js-show-item {
    opacity: 1;
  }
}

.TimelineItem__start-date {
  border: 1px solid red;
}
