.TimelineItem__container {
  position: relative;
  width: 60%;
  height: 200px;
  margin: 0 auto;
  opacity: 0;

  &.js-show-item {
    opacity: 1;

    .TimelineItem__joiner {
      opacity: 1;
    }
  }

  &:nth-child(n+3) {
    margin-top: 100px;
  }
}

.TimelineItem__stack {
  transition: all 0.3s;
  position: relative;
  z-index: 100;
  height: 100%;

  &:hover {
    transform: rotate(-3deg) scale(1.05);
    cursor: pointer;

    .TimelineItem__lower-stack {
      opacity: 1;
      transform: rotate(5deg);
    }
  }
}

.TimelineItem__lower-stack {
  position: absolute;
  transition: all 0.3s;
  border: 1px solid #e9e9e9;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  opacity: 0;

  &:hover {
    box-shadow: 0px 20px 2px -10px rgba(0,0,0,0.05);
  }
}

.TimelineItem {
  background-color: #FFF;
  border: 1px solid #e9e9e9;
  font-size: 1rem;
  display: flex;
  padding: 30px 50px 30px 100px;
  box-shadow: 0px 15px 2px -12px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  height: 100%;

  &:hover {
    box-shadow: 0px 20px 2px -10px rgba(0, 0, 0, 0.05);
  }
}

.TimelineItem__content {
  margin: 0 0 0 25px;
  text-align: left;
}

.TimelineItem__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.TimelineItem__location {
  color: lightgray;
}

.TimelineItem__dates {
  margin-bottom: 10px;
}

.TimelineItem__joiner {
  width: 7px;
  height: 100px;
  background-color: #000;
  margin: 0 auto;
  opacity: 0;
  transition: all 1s;
}

.TimelineItem__end-date {
  font-size: 1rem;
  margin-left: 25px;
  width: max-content;
  padding: 40px 10px;
  position: relative;

  &:before {
    content: '';
    height: 3px;
    width: 30px;
    background-color: #000;
    display: block;
    position: absolute;
    margin-top: 7px;
    left: -25px;
  }

  &:after {
    content: '';
    height: 18px;
    width: 18px;
    display: inline-block;
    background-color: #000;
    border-radius: 15px;
    position: absolute;
    left: -30px;
  }
}
