.TimelineCard__container {
  position: relative;
  transition: all 0.3s;
  margin: 0 auto;
  opacity: 0;
  width: 90%;

  @media (min-width: 1200px) { 
    width: 50%;
  }

  // When card expanded
  &.js-expand-card {

    @media (min-width: 1200px) {
      width: 100%;
    }
  }

  // When card is visible
  &.js-show-card {
    opacity: 1;

    .Card__joiner {
      opacity: 1;
    }
  }
}



// .Card__joiner {
//   width: 7px;
//   height: 100px;
//   background-color: #000;
//   margin: -15px auto 0;
//   opacity: 0;
//   transition: all 1s;

//   // @media (min-width: 900px) { 

//   // }
// }

// .Card__joiner-date {
//   font-size: 1rem;
//   margin-left: 25px;
//   width: max-content;
//   padding: 40px 10px;
//   position: relative;

//   &:before {
//     content: '';
//     height: 3px;
//     width: 30px;
//     background-color: #000;
//     display: block;
//     position: absolute;
//     margin-top: 7px;
//     left: -25px;
//   }

//   &:after {
//     content: '';
//     height: 18px;
//     width: 18px;
//     display: inline-block;
//     background-color: #000;
//     border-radius: 15px;
//     position: absolute;
//     left: -30px;
//   }
// }
