.Header {
  background-color: #00b7ea; // Old browsers
  background-image:(linear-gradient(left top, #d9f7ff 0%,#a1ebff 100%));

  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;

  h1 {
    font-size: 1.5rem;
    width: 60%;
  }
}

.Header__inner-container {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
}
