body {
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  font: 10px 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
}

.position-fixed {
  position: fixed;
}