body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font: 10px 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.position-fixed {
  position: fixed;
}