.Logo {
  border: 1px solid red;
  float: left;
  height: 40px;
  width: 145px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 200ms;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  padding: 10px 20px;
}

.Logo__me {

  //margin: 10px 5px;
  //display: inline-block;
}

.Logo__animate {
  width: 145px;
  padding: 10px 20px;
}